VITE_APP_NAME=Srishly
VITE_SUPPORT_EMAIL=team.srishly@gmail.com
VITE_API_BASE_URL=
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<db>?retryWrites=true&w=majority
MONGODB_DB_NAME=srishly
